<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MultiBrowserSuite" parallel="tests" thread-count="4">
    <test name="Chrome Test">
        <parameter name="browser" value="chrome"/>
<suite name="MultiThreadSuite" parallel="tests" thread-count="2">
    <test name="Test Suite 1">
        <classes>
            <class name="com.example.autotests.test.AuthorizationTests"/>
        </classes>
    </test>
    <test name="Firefox Test">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="com.example.autotests.test.TitleTest"/>
        </classes>
    </test>
    <test name="Edge Test">
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="com.example.autotests.test.TabsTest"/>
        </classes>
    </test>
    <test name="IE Test">
        <parameter name="browser" value="ie"/>
        <classes>
            <class name="com.example.autotests.test.IFrameTest"/>
        </classes>
    </test>
</suite>