<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MultiThreadSuite" parallel="tests">
    <test name="Test Suite 1">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.example.autotests.test.AuthorizationTests"/>
        </classes>
    </test>
    <test name="Test Suite 2">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.example.autotests.test.DataProviderTest"/>
        </classes>
    </test>
</suite>